.main-container {
    width: 600px;
    margin: 0 auto;
    border-left: 1px solid gray ;
    border-right: 1px solid gray ;
    padding: 10px;
}
.header-bar {
    width: 100%;
    padding: 20px 0;
    background-color: lightblue;
}

.create-page {

}
.create-page-form {

}
.text-input {
    display: block;
    min-width: 300px;
    min-height: 50px;
}

.post-card {
    width: 300px;
    min-height: 50px;
    border: 1px solid darkgrey;
}
.post-card-date {}
.post-card-text {}
.post-card-id {}

.post-detailed-page {
    background-color: lightgray;
}
.post-detailed-controls {
    display: flex;
    flex-direction: row-reverse;
}
